{% extends 'base.html.twig' %}

{% block title %}Gestion des commande{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    {% if app.user %}
        <a href="{{ path('app_delivery_new') }}">Commander</a>
    {% endif %}
    {% if not app.user  %}
        <h2>Connectez-vous pour commander</h2>
        <button class="btn btn-lg btn-primary">
            <a href="/register">Créer un compte</a>
        </button>
        <button class="btn btn-lg btn-primary">
            <a href="/login">Log in</a>
        </button>
    {% endif %}

{% endblock %}
