{% extends 'base.html.twig' %}

{% block title %}Nouvelle commande{% endblock %}

{% block body %}
    <h1>Commandez</h1>

    {{ include('delivery/_form.html.twig') }}

    <a href="{{ path('app_delivery_index') }}">Retour</a>
{% endblock %}
