{% extends 'base.html.twig' %}

{% block title %}Livraisons Mongoo{% endblock %}


{% block body %}
    {% include 'header.html.twig' %}

<style>

</style>

<div class="example-wrapper">
    <h1>Bonjour </h1>

    <h2>Bienvenue chez Mongoo</h2>
    <!--ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/pietu/Documents/symphony/rattrapages-pietu-ambroise/07-Symfony/mongoo-project/src/Controller/AppController.php'|file_link(0) }}">src/Controller/AppController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/pietu/Documents/symphony/rattrapages-pietu-ambroise/07-Symfony/mongoo-project/templates/app/index.html.twig'|file_link(0) }}">templates/app/index.html.twig</a></code></li>
    </ul-->
    <button class="btn btn-lg btn-primary">
        <a href="/login">Log in</a>
    </button>
</div>
{% endblock %}
